@model StudentGrades.Teacher

@{
    ViewData["Title"] = "RegisterTeacher";
}

<h1>Реєстрація вчителя</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterTeacher">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AcademicDegreeId" class="control-label"></label>
                <select asp-for="AcademicDegreeId" class ="form-control" asp-items="ViewBag.AcademicDegreeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CaphedraId" class="control-label"></label>
                <select asp-for="CaphedraId" class ="form-control" asp-items="ViewBag.CaphedraId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

