@model StudentGrades.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Редагування профілю</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentGroupId" class="control-label"></label>
                <select asp-for="StudentGroupId" class="form-control" asp-items="ViewBag.StudentGroupId"></select>
                <span asp-validation-for="StudentGroupId" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" asp-items="ViewBag.Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" asp-items="ViewBag.Telephone">
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label asp-for="UserInfo.Login" class="control-label"></label>
                    <input asp-for="UserInfo.Login" class="form-control">
                    <span asp-validation-for="UserInfo.Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserInfo.Password" class="control-label"></label>
                    <input asp-for="UserInfo.Password" class="form-control">
                    <span asp-validation-for="UserInfo.Password" class="text-danger"></span>
                </div>
            -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.Id">Назад</a>
</div>

