
<h1>Аккаунт адміністратора</h1>

<div>
    <a asp-action="RoleList" asp-controller="Roles">Ролі</a>
</div>
<div>
    <a asp-action="UserList" asp-controller="Roles">Користувачі</a>
</div>
<div>
    <a asp-action="Logout" asp-controller="Account">Вийти</a>
</div>
